.cards {
  margin: auto;
  padding: 70px 70px 80px;
}

.card-list {
  margin: 0;
  padding: 0 0 60px;
  list-style: none;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
}

.card-list__element {
  justify-self: center;
}

@media screen and (max-width: 1279px) {
  .cards {
    padding: 70px 30px 80px;
  }

  .card-list {
    padding: 0 0 80px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .cards {
    padding: 40px 10px 80px;
  }

  .card-list {
    padding: 0 0 76px;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
