.button {
  transition: opacity 0.3s;
  opacity: 1;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}
.button_type_back {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.button_type_register{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
}

.button_type_login{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}