.button {
  transition: opacity 0.3s;
  opacity: 1;
  text-decoration: none;
  color: #000;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.button_type_cta {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background: none;
  padding: 0;
}

.button_type_login {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background: #000000;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_type_promo {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  opacity: 0.6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  width: 129px;
  height: 36px;
  background-color: transparent;
  justify-content: center;
}

.button_type_link {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.button_type_menu-link {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.button_type_register {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.button_type_account {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000;
  align-items: center;
  gap: 13px;
}

.button_type_search {
  padding: 0;
  border: 1px solid #000;
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_type_more-cards {
  margin: auto;
  padding: 0;
  color: #000;
  background: #fff;
  display: flex;
  justify-content: center;
  width: 320px;
  height: 36px;
  align-items: center;
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

.button_type_profile-edit {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;

  border: 0;
  padding: 0;
  background: transparent;
}

.button_type_profile-logout {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ff4062;
}

.button_type_burger {
  background: 0;
  background-image: url("../../images/burger.svg");
  width: 44px;
  height: 44px;
  display: initial;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  padding: 0;
}

.button_type_close {
  background: 0;
  display: none;
  background-image: url("../../images/close.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  right: 22px;
  top: 22px;
  border: 0;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}

.button_type_submit {
  padding: 0;
  border: 1px solid #000;
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  min-width: 70px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button_type_submit:disabled {
  opacity: 0.4;
  pointer-events: none;
}

@media screen and (max-width: 1279px) {
  .button_type_burger {
    display: initial;
  }
  .button_type_close-visible {
    display: initial;
  }
}

@media screen and (max-width: 767px) {
  .button_type_search {
    font-size: 12px;
    line-height: 18px;
  }
  .button_type_more-cards {
    width: 240px;
  }

  .button_type_profile-edit {
    font-size: 12px;
    line-height: 15px;
  }
  .button_type_profile-logout {
    font-size: 12px;
    line-height: 15px;
  }
  .button_type_burger {
    width: 40px;
    height: 43px;
  }

  .button_type_close {
    right: 13px;
    top: 13px;
  }
}
