.profile {
  display: flex;
  min-height: calc(100vh - 91px);
  flex-direction: column;
}

.profile__info {
  max-width: 410px;
  margin: 0 auto;
  width: 410px;
  padding: 74px 0 204px;
}

.profile__welcome {
  display: flex;
  justify-content: center;
  margin: 0 auto 107px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__container {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.profile__text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .profile__info {
    padding: 236px 0 194px;
  }

  .profile__welcome {
    margin: 0 auto 80px;
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 0 auto;
    width: auto;
    padding: 70px 30px 0;
  }

  .profile__welcome {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .profile__buttons {
    margin: auto auto 40px;
  }
}
