.promo {
  justify-content: space-between;
  display: flex;
  margin: 18px 70px;
  margin-top: 75px;
}

.promo__underlay {
    background-color: #F3C1F8;

}
.promo__info {
  max-width: 640px;
}
.promo__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
}
.promo__cta {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin-top: 36px;
  margin-bottom: 146px;
  color: #000;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.promo__img {
}
