.label {
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .label {
    width: 84px;
    height: 57px;
  }
}