.search {
  padding: 80px 70px 10px;
}

.search__form {
  margin-bottom: 40px;
}

.search__container {
  display: flex;
  gap: 10px;
}

.search__bar {
  width: 100%;
  height: 48px;
  background: #f9f9f9;
  border-radius: 4px;
  border: 0;
  padding-left: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #a0a0a0;
}

.search__filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 156px;
  margin: 30px auto 0;
  gap: 12px;
  cursor: pointer;
}

.search__filter-checkbox:checked + .search__filter-pseudo-checkbox .search__filter-switch {
  left:22px; 
}

.search__filter-checkbox:disabled + .search__filter-pseudo-checkbox {
  cursor: not-allowed;
  background-color: grey;
  opacity: 1;
}

.search__filter-checkbox:disabled:checked + .search__filter-pseudo-checkbox {
  cursor: not-allowed;
  text-decoration: underline;
  background-color: grey;
  opacity: 1;
}

.search__filter-checkbox:disabled:checked + .search__filter-pseudo-checkbox .search__filter-switch {
  left:22px; 
}

.search__filter-checkbox {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}


.search__filter-switch {
  width: 8px;
  height: 8px;
  background-color: #fff;
  top: 6px;
  left: 6px;
  position: absolute;
  border-radius: 100%;
}

.search__filter-pseudo-checkbox {
  width: 36px;
  height: 20px;
  background: #2be080;
  border-radius: 20px;
  position: relative;
}

.search__filter-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}


@media screen and (max-width: 1279px) {
  .search {
    padding: 80px 30px 10px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    padding: 80px 14px 10px;
  }

.search__bar {
font-size: 12px;
line-height: 18px;
}
}