.header {
    display: flex;
    justify-content: space-between;
    margin: 18px 70px;
}

.header__logo{}

.header__nav{
    display: flex;
    gap:30px;
    align-items: center;

    list-style: none;
    padding: 0;
    margin: 0;
}