.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
}

.header_type_unauthorized{
  background-color: #f3c1f8;
}

.header__logo {
  object-fit: contain;
}

.header__nav {
  display: flex;
  gap: 30px;
  align-items: center;  
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__account-icon{
    border: 1px solid transparent;
    border-radius: 6px;
    background: #F9F9F9;
    width: 30px;
    height: 30px;
    display: flex;
    background-image: url(../../images/account.png);
    background-repeat: no-repeat;
    background-position: center;

}