.filter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 156px;
  margin: 30px auto 0;
  gap: 12px;
  cursor: pointer;
}

.filter-checkbox__input:checked + .filter-checkbox__switch {
  background-color: #2be080;
}

.filter-checkbox__input:checked
  + .filter-checkbox__switch
  .filter-checkbox__switch-circle {
  left: 22px;
}

.filter-checkbox__input:disabled + .filter-checkbox__switch {
  cursor: not-allowed;
  background-color: grey;
  opacity: 1;
}

.filter-checkbox__input:disabled:checked + .filter-checkbox__switch {
  cursor: not-allowed;
  text-decoration: underline;
  background-color: grey;
  opacity: 1;
}

.filter-checkbox__input:disabled:checked
  + .filter-checkbox__switch
  .filter-checkbox__switch-circle {
  left: 22px;
}

.filter-checkbox__input {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.filter-checkbox__switch-circle {
  width: 8px;
  height: 8px;
  background-color: #fff;
  top: 6px;
  left: 6px;
  position: absolute;
  border-radius: 100%;
  transition: left 0.3s;
}

.filter-checkbox__switch {
  width: 36px;
  height: 20px;
  background-color: #efefef;
  border-radius: 20px;
  position: relative;
  transition: background-color 0.3s;
}

.filter-checkbox__text {
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
