.register {
  padding-top: 70px;
  margin: 0 auto;
  width: 369px;
}

.register__logo {
  height: 38px;
  width: 38px;
}

.register__alternative {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
}

.register__capture {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #a0a0a0;
}

.register__welcome {
  margin: 0;
  padding: 40px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__form-container {
    gap:16px;
}

@media screen and (max-width: 1279px) {
  .register {
    padding-top: 0;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .register {
    margin: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 56px 30px 30px;
    align-items: center;
    height: auto;
    height: calc(100vh - 86px);
  }

  .register__welcome {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding: 50px 0 80px;
  }

  .register__form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:14px;
  }
}
