.section-header__header {
  margin-bottom: 23px;
  font-family: Inter, "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.section-header__delimiter {
    margin:0;
    border: none;
    height: 1px;
    background-color: #000; 
}


@media screen and (max-width:767px) {
  .section-header__header {
    margin-bottom: 28px;

  }
}